{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi"
    />
    <title>ZZZ</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome-pro.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/scroll_button.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugin.css' %}" />
    <link rel="stylesheet" href="{% static 'css/spacing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  </head>

  <body>

    {% block content %}
    {% endblock %}


    <script src="{% static 'js/plugin.js' %}"></script>
    <!--scroll button js-->
    <script src="{% static 'js/scroll_button.js' %}"></script>
    <!--sticky sidebar js-->
    <script src="{% static 'js/sticky_sidebar.js' %}"></script>
    <!-- Animation -->
    <script src="{% static 'js/animation.js' %}"></script>
    <!--main/custom js-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
